.cardContainer{
    width: 192px;
    height: 192px;
    border-radius: 14px;
  
}
.monsterName{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
  
   

}
.img{
width: 100px;


position: absolute;
transform: translate(-50%,-50%);
}